{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css'%}">
    
</head>
<body>
    <center>
        <h1>welcome to login page</h1>
      
        <img src="{% static 'images/moon.jpeg' %}" alt="image not found ">
        <h3> <a href="{% url 'home' %}">switch to home  page</a></h3>
    </center>
</body>
</html>